//Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
$montserrat:       'Montserrat', sans-serif;

//Colors

$cod-gray:      #111111;
$color-white:   #ffffff;
$ripe-lemon:    #f3db13;
