section{
    width: 100%;
    position: fixed;
    font-family: $montserrat;
    background-color: $ripe-lemon;
    transition: all .3s ease-in-out;
    .content-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        position: relative;
        text-align: center;
    }
    .step-title {
       font-size: 30px;
       font-weight: 700;
       margin-bottom: 20px;
    }
    .step-text {
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 20px;
    }

    &.prev-step {
        left: -100%;
    }
    &.current-step {
        left: 0;
    }
    &.next-step {
        left: 100%;
    }
}

.yellow-band {
    background: $ripe-lemon;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    &.hidden {
        opacity: 0;
        transition: all .3s;
        visibility: hidden;
    }
}
